bin/Release
bin/Debug
*.g.fs
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/legacy/Aardvark.Opc/.vs/Aardvark.Opc/v14/.suo
/src/OpcSupport/bin/Release
/src/Test/bin/Debug
/src/OpcSupport/bin/Debug
/src/Aardvark.OpcViewer161010.vspx
src\Aardvark.OpcViewer.psess

/src/Aardvark.OpcViewer.psess
/src/DGMViewer/bin/Debug
/src/DGMViewer/bin/Release
/src/CSharpUtils/bin/Debug
/src/CSharpUtils/bin/Release
**/node_modules
**/out
/src/Fable.UI/npm-debug.log
/src/PRo3D.DomainModel/bin/Release
/src/PRo3D.Base/bin/Release
/.paket/Paket.Restore.targets
/src/Aardvark.Opc.Viewer/bin/Debug/Aardvark.Opc.Viewer.XML
/src/Aardvark.Opc.Viewer/bin/Debug/Aardvark.Opc.Viewer.exe
/src/Aardvark.Opc.Viewer/bin/Debug/Aardvark.Opc.Viewer.exe.config
/src/Aardvark.Opc.Viewer/bin/Debug/Aardvark.Opc.Viewer.pdb
/src/Aardvark.Opc.Viewer/bin/Debug/FSharp.Core.dll
/src/Aardvark.Opc.Viewer/bin/Debug/FSharp.Core.xml
/src/Aardvark.Opc.Viewer/bin/Debug/System.ValueTuple.dll
/src/Aardvark.Opc.Viewer/bin/Release/Aardvark.Opc.Viewer.XML
/src/Aardvark.Opc.Viewer/packages.config
/src/Aardvark.Opc.Viewer/paket.references
/src/packages/System.ValueTuple.4.3.1/System.ValueTuple.4.3.1.nupkg
/src/packages/System.ValueTuple.4.3.1/ThirdPartyNotices.txt
/src/packages/System.ValueTuple.4.3.1/dotnet_library_license.txt
/src/packages/System.ValueTuple.4.3.1/lib/MonoAndroid10/_._
/src/packages/System.ValueTuple.4.3.1/lib/MonoTouch10/_._
/src/packages/System.ValueTuple.4.3.1/lib/netstandard1.0/.xml
/src/packages/System.ValueTuple.4.3.1/lib/netstandard1.0/System.ValueTuple.dll
/src/packages/System.ValueTuple.4.3.1/lib/portable-net40+sl4+win8+wp8/.xml
/src/packages/System.ValueTuple.4.3.1/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
/src/packages/System.ValueTuple.4.3.1/lib/xamarinios10/_._
/src/packages/System.ValueTuple.4.3.1/lib/xamarinmac20/_._
/src/packages/System.ValueTuple.4.3.1/lib/xamarintvos10/_._
/src/packages/System.ValueTuple.4.3.1/lib/xamarinwatchos10/_._
/src/packages/System.ValueTuple.4.3.1/ref/MonoAndroid10/_._
/src/packages/System.ValueTuple.4.3.1/ref/MonoTouch10/_._
/src/packages/System.ValueTuple.4.3.1/ref/xamarinios10/_._
/src/packages/System.ValueTuple.4.3.1/ref/xamarinmac20/_._
/src/packages/System.ValueTuple.4.3.1/ref/xamarintvos10/_._
/src/packages/System.ValueTuple.4.3.1/ref/xamarinwatchos10/_._
/src/Aardvark.Opc.Viewer/bin/Release
*.domaincache
/.paket
/bin/Converter
/src/PRo3D.SimulatedViews/bin/Release/netcoreapp3.1
/src/PRo3D.Core/bin/Release/netcoreapp3.1
/bin/publish
/src/PRo3D.Viewer/PRo3D.Viewer.fsproj.user
