framework: netstandard2.0, net471, netcoreapp2.0, netcoreapp3.1

source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

storage: none

nuget FSharp.Core                           ~> 4.6.2
nuget FSharp.Data                           ~> 3.1.1
nuget FSharp.Data.Adaptive                  ~> 1.0.0

nuget Aardvark.Base                         ~> 5.0.14
nuget Aardvark.Base.Incremental             ~> 5.0.14
nuget Aardvark.Base.FSharp                  ~> 5.0.14
nuget Aardvark.Geometry                     ~> 5.0.14

nuget Aardvark.Base.Rendering               ~> 5.0.21-prerelease0001
nuget Aardvark.Application.Slim             ~> 5.0.21-prerelease0001
nuget Aardvark.Application.Slim.GL          ~> 5.0.21-prerelease0001
nuget Aardvark.SceneGraph                   ~> 5.0.21-prerelease0001
nuget Aardvark.SceneGraph.IO                ~> 5.0.21-prerelease0001
nuget Aardvark.SceneGraph.Opc               ~> 5.0.21-prerelease0001
nuget Aardvark.Rendering.Text               ~> 5.0.21-prerelease0001
nuget Aardvark.Rendering.Vulkan             ~> 5.0.21-prerelease0001
nuget Aardvark.Rendering.GL                 ~> 5.0.21-prerelease0001
nuget Aardvark.GPGPU                        ~> 5.0.21-prerelease0001

nuget Aardvark.Geometry.Intersection        ~> 5.0.14
nuget Aardvark.Geometry.PointTree           ~> 5.0.14

nuget Aardvark.Service                      ~> 5.0.8
nuget Aardvark.UI                           ~> 5.0.8
nuget Aardvark.UI.Primitives                ~> 5.0.8

nuget Adaptify.MSBuild                      ~> 1.0.0
nuget Adaptify.Core                         ~> 1.0.0

nuget Aardium                               ~> 1.1.0

nuget Uncodium.Eigensystems                 ~> 1.1.0
nuget OPCViewer.Base                        ~> 1.0.3

nuget Aardvark.GeoSpatial.Opc               ~> 5.2.1-prerelease0002

nuget Chiron                                ~> 6.3.1
nuget RestSharp                             ~> 106.6.9

nuget Microsoft.Diagnostics.Runtime         ~> 2.0.1
nuget Thoth.Json.Net                  


group Build
framework: netstandard2.0

source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5

nuget Fake.IO.FileSystem
nuget Fake.Api.GitHub
nuget Fake.Core.ReleaseNotes