source ../bin/pack
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

framework: net5.0
storage: none

nuget PRo3D.Base

nuget Adaptify.MSBuild                      ~> 1.1.1
nuget Adaptify.Core                         ~> 1.1.1
nuget Aardium                               ~> 2.0.8

nuget Uncodium.Eigensystems                 ~> 1.1.2
nuget OPCViewer.Base                        ~> 1.0.12


nuget FSharp.Data.Adaptive                  ~> 1.2.6

nuget Aardvark.Base                         ~> 5.1.26
nuget Aardvark.Base.Incremental             ~> 5.1.26
nuget Aardvark.Base.FSharp                  ~> 5.1.26
nuget Aardvark.Geometry                     ~> 5.1.26

nuget Aardvark.Rendering                    ~> 5.1.22
nuget Aardvark.Application.Slim             ~> 5.1.22
nuget Aardvark.Application.Slim.GL          ~> 5.1.22
nuget Aardvark.Application.Slim.Vulkan      ~> 5.1.22
nuget Aardvark.SceneGraph                   ~> 5.1.22
nuget Aardvark.SceneGraph.IO                ~> 5.1.22
nuget Aardvark.SceneGraph.Opc               ~> 5.1.22
nuget Aardvark.Rendering.Text               ~> 5.1.22
nuget Aardvark.Rendering.Vulkan             ~> 5.1.22
nuget Aardvark.Rendering.GL                 ~> 5.1.22
nuget Aardvark.GPGPU                        ~> 5.1.22

nuget Aardvark.Geometry.Intersection        ~> 5.1.11
nuget Aardvark.Geometry.PointTree           ~> 5.1.11

nuget Aardvark.Service                      ~> 5.3.0-prerelease0002
nuget Aardvark.UI                           ~> 5.3.0-prerelease0002 
nuget Aardvark.UI.Primitives                ~> 5.3.0-prerelease0002 
nuget Aardvark.Service.Giraffe              ~> 5.3.0-prerelease0002 



nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma
nuget Fulma

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Farmer
