.product-view {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    border-top: 2px solid white;
    border-radius: 2px;
    cursor: pointer !important;
}

.selection-box {
    width: 100%;
    height: 100%;
    position: absolute
}

    .selection-box:hover {
        background-color: rgba(255, 255, 255, 0.5)
    }

.product-view selected > .selection-box {
    background-color: rgba(0, 0, 0, 0.5)
}

.product-view * {
    cursor: pointer;
}

.instrument-toggle * {
    cursor: pointer;
}

.instrument-toggle {
    cursor: pointer !important;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

body {
    min-width: 0 !important;
    min-height: 0 !important
}

.product-view img {
    height: 100%;
    display: inline-block
}

.product-view svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    height: 100%;
}

.product-view span {
    position: absolute;
    z-index: 5;
    left: 0;
    padding: 0.5em;
    line-height: 1em;
    font-size: 0.55em;
    background-color: rgba(0,0,0,0.5);
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(251, 255, 0);
}

.scene-overlay {
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
}

.frustum-svg {
    height: 100%;
    border: 2px solid white;
}
