name: Deploy
on:
  push: 
    paths:
      - PRODUCT_RELEASE_NOTES.md
      - aardium/package.json
      - .github/workflows/deploy.yml 
jobs:
  mac_x64:
    name: OSX (x64)
    runs-on: macos-13
    steps:  
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
      - name: Add Cert to Keychain
        uses: apple-actions/import-codesign-certs@v1
        with: 
          p12-file-base64: ${{ secrets.MAC_CERT_BASE64 }}
          p12-password: ${{ secrets.MAC_CERT_PASSWORD }}
      - name: Yarn Install
        working-directory: aardium
        run: yarn install
      - name: Build
        run: bash ./build.sh PublishToElectron
        env:
          MAC_CERT_BASE64: ${{ secrets.MAC_CERT_BASE64 }}
          MAC_CERT_PASSWORD: ${{ secrets.MAC_CERT_PASSWORD }}
          MAC_DEV_PASSWORD: ${{ secrets.MAC_DEV_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAC_IDENTITY: ${{ secrets.MAC_IDENTITY }} 
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  win32_x64:
    name: windows
    runs-on: windows-latest
    steps:  
      - name: Install Dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Yarn Install
        working-directory: aardium
        run: yarn install
      - name: Build
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: .\build.cmd PublishToElectron

  linux_x64:
    name: linux
    runs-on: ubuntu-latest
    steps:  
      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v1
      - name: Install Dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Yarn Install
        working-directory: aardium
        run: yarn install
      - name: Build
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bash ./build.sh PublishToElectron
